{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Api Test Task Resolution</span>
                    Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}
                </h1>
            </div>

            <h2>Docs</h2>
            <h3>Base Route</h3>
            <p>The API base route is <code>/api</code>, it mapped with ApiBundle (as a prefix)</p>
            <p>Each request must send <code>Content-Type</code> and <code>Accept</code> headers with <code>application/json</code>
                value to interact using json (instead of xml or classic form fields)</p>
            <h3>Category</h3>
            <p>Category endpoint is <code>/category</code>, so full REST endpoint will be <code>/api/category</code>.
                Category endpoint allow only GET request to receive categories list</p>

            <h3>Post</h3>
            <p>Post endpoint is <code>/post</code>, so full REST endpoint will be <code>/api/post</code>, full method
                list:</p>
            <ul>
                <li><strong>GET</strong> <code>/api/post</code> - Get full post list (with pagination, ?page=1 get
                    parameter)
                </li>
                <li><strong>GET</strong> <code>/api/post/{post_id}</code> - Get post details by id</li>
                <li><strong>POST</strong> <code>/api/post</code> - Create new post</li>
                <li><strong>PUT</strong> <code>/api/post/{post_id}</code> - Override post</li>
                <li><strong>PATCH</strong> <code>/api/post/{post_id}</code> - Update few post fields</li>
                <li><strong>DELETE</strong> <code>/api/post/{post_id}</code> - Delete post</li>
            </ul>

            <p>Post object format</p>
            <code>
                {
                "title":"{title, string, max - 255 symbols}",
                "content": "{content, text}",
                "category": "{category_id created in database}"
                }
            </code>


            <h3>Responses</h3>
            <p>There are few response types:</p>
            <ul>
                <li><code>{ "success": {boolean} }</code> for DELETE request</li>
                <li><code>{ "success": {boolean}, "data": {post_object} }</code> for GET (details), POST, PUT, PATCH
                    requests
                </li>
                <li><code>{ "success": {boolean}, "data": {pagination_object} }</code> for GET (list) request
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }

        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }

        #container {
            padding: 2em;
        }

        #welcome, #status {
            margin-bottom: 2em;
        }

        #welcome h1 span {
            display: block;
            font-size: 75%;
        }

        #icon-status, #icon-book {
            float: left;
            height: 64px;
            margin-right: 1em;
            margin-top: -4px;
            width: 64px;
        }

        #icon-book {
            display: none;
        }

        @media (min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }

            #icon-book {
                display: inline-block;
            }

            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s .2s forwards;
                animation: fade-in 1s .2s forwards;
            }
        }
    </style>
{% endblock %}
